.nv-modulesettings-toggler {
    border-radius: 0;
    width: 100%;
}

.nv-modulesettings-toggler-left {
    display: inline-flex;
    float: left;
}

.nv-modulesettings-toggler-right {
    display: inline-flex;
    float: right;
}

.nv-modulesettings-toggler i {
    position: relative;
    top: 3px;
}

.nv-modulesettings-form {
    border: 1px solid #c1c9d4;
    border-top: none;
    padding: 20px;
    display: none;
}

.nv-modulesettings-form .tab-content.no_options_in_categories > div {
    display: block;
}

.nv-modulesettings-backend-options {
    border: 1px solid #c1c9d4;
    border-top: none;
    padding: 10px 20px;
    display: none;
}

/* Bootstrap Backend Tooltip Slider */
.nv-modulesettings .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.925rem;
    word-wrap: break-word;
    opacity: 0;
}
.nv-modulesettings .tooltip.show {
    opacity: 0.9;
}
.nv-modulesettings .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}
.nv-modulesettings .tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="top"],
.bs-tooltip-top {
    padding: 0.4rem 0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="top"] .arrow,
.bs-tooltip-top .arrow {
    bottom: 0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #c0c0c0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="right"],
.bs-tooltip-right {
    padding: 0 0.4rem;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="right"] .arrow,
.bs-tooltip-right .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #c0c0c0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="bottom"],
.bs-tooltip-bottom {
    padding: 0.4rem 0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="bottom"] .arrow,
.bs-tooltip-bottom .arrow {
    top: 0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #c0c0c0;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="left"],
.bs-tooltip-left {
    padding: 0 0.4rem;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="left"] .arrow,
.bs-tooltip-left .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.nv-modulesettings .bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #c0c0c0;
}
.nv-modulesettings .tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #000;
    text-align: center;
    background-color: #c0c0c0;
    border-radius: 0.25rem;
    font-weight: bold;
}
.nv-modulesettings .tooltip.bs-tooltip-top {
    margin-top: -24px;
}
.nv-modulesettings .slider.slider-horizontal {
    margin-top: 10px;
}
.nv-modulesettings .slider-track,
.nv-modulesettings .slider-track .slider-selection,
.nv-modulesettings .slider-track .slider-high,
.nv-modulesettings .slider-track .slider-low {
    box-shadow: none;
}
.nv-modulesettings .slider-track .slider-high,
.nv-modulesettings .slider-track .slider-low {
    background-color: #f3f6fb;
}

.nv-modulesettings .slider-track {
    border: 1px solid #c1c9d4;
}


.nvmodulesettings-group {
    margin-bottom: 20px;
}

.nvmodulesettings-group .nvmodulesettings-heading {
    padding: 0px;
    border-bottom: 1px solid #E0E0E0;
	color: #CCC;
}

.nvmodulesettings-group .nvmodulesettings-heading a {
    display: block;
    position: relative;
    font-weight: normal;
	font-size: 1.10em;
    padding: 12px 5px;
	text-decoration: none;
}

.nvmodulesettings-group .nvmodulesettings-heading a, 
.nvmodulesettings-group .nvmodulesettings-heading a:after {
    color: #666;
}

.nvmodulesettings-group .nvmodulesettings-heading a:hover, 
.nvmodulesettings-group .nvmodulesettings-heading a:hover:after, 
.nvmodulesettings-group .nvmodulesettings-heading a[aria-expanded="true"],
.nvmodulesettings-group .nvmodulesettings-heading a[aria-expanded="true"]:after,
.nvmodulesettings-group .nvmodulesettings-heading a[aria-expanded="false"]:hover, 
.nvmodulesettings-group .nvmodulesettings-heading a[aria-expanded="false"]:hover:after {
    color: #4b9ad9;
}

.nvmodulesettings-group .nvmodulesettings-heading a:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f078";
    right: 10px;
    font-weight: regular;
}

.nvmodulesettings-group .nvmodulesettings-heading a[aria-expanded="true"]:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f077";
    font-weight: regular;
    right: 10px;
}



.nvmodulesettings-group .nvmodulesettings-body {
    padding: 20px 5px 20px;
}